# Project exclude paths
/data/test/
/data/muffin-vs-chihuahua-image-classification.zip
/data/train/
/mod-gen/
/notebooks/kaggle.json
/notebooks/data
kaggle.json
/**/**.keras
/.idea/
/**/**.h5
/report/out/
